
.order-container{
    background-color: #222629;
    padding: 5%;
    border-radius: 6px;
    margin-top: 50px;
}

.order-row{
    display: grid;
    grid-template-columns: 2fr repeat( 4, 1fr );
}

.order-header{
    border-bottom: 1px solid lightgray;
}
