.admin-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    margin-bottom: 60px;
}

.sidebar{
    background-color: #222629;
    height: 100%;
    border-radius: 6px;
}

.sidebar p{   
    padding: 10px 30px
}

.sidebar p:hover{
    background-color: #282c34;
    cursor: pointer;
}

.form-container{   
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;    
}

.input-field{
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

.container{
    background-color: #222629;
    padding: 2% 5%;
    border-radius: 6px;
}

@media (max-width: 778px) {
    .admin-container {
        display: block;
    }
    .form-container {
        display: block;
    }
}